/*
*/**/DS_Store
!.gitignore
!.brew_dump.txt

# ZSH files
!.zshrc
!.zprofile
!.zplug
.zplug/*
!.zplug/packages.zsh
!.VTuberMacOS.png
!.hushlogin

# Config files
!.config
.config/*
!.config/htop
!.config/fastfetch
!.config/neofetch
.Rproj.user
