/*
*/**/DS_Store
!.gitignore
!.brew_dump.txt

# ZSH files
!.zshrc
!.zplug
.zplug/*
!.zplug/packages.zsh
!.VTuberMacOS.png

# Config files
!.config
.config/*
!.config/htop
!.config/fastfetch
!.config/neofetch

# Iterm2 config file
!Library
Library/*
!Library/Preferences
Library/Preferences/*
!Library/Preferences/com.googlecode.iterm2.plist

# VSCode config file
!Library/Application Support
Library/Application Support/*
!Library/Application Support/Code
Library/Application Support/Code/*
!Library/Application Support/Code/User
Library/Application Support/Code/User/*
!Library/Application Support/Code/User/settings.json
